<div class="browser-box" ng-if="base.currentDataset">
  <form class="pure-form" id="paging-form">
    <label for="ipp">Records Per Page</label>
    <input type="number" name="numdata-selector" ng-model="browsing.paging.itemsPerPage" ng-change="loadDataset()">

    <label for="page">Page</label>
    <input type="number" name="page" ng-model="browsing.paging.page" ng-change="loadDataset()">
  </form>

  <div class="dataset-control-bar" >
    <button class="btn btn-primary" ng-click="loadInsertForm()">Insert</button>

  </div>

  <!-- WORK ON A TABULAR VIEW -->
  <table class="record-container record-table" ng-show="base.records.length">
    <tr>
      <th ng-repeat="pkField in getPKFields()" ng-bind="pkField" class="pk">
      </th>

      <th colspan="2">Controls</th>
    </tr>

    <tr ng-repeat="record in base.records" ng-class="{even: $index%2==0}">
      <td ng-repeat="pkValue in getPKValues(record)" ng-bind="pkValue">
      </td>

      <!-- controls -->
      <td>
        <button class="btn btn-default btn-sm btn-info" ng-click="magnifyRecord($index)">View</button>
      </td>
      <td>
        <button class="btn btn-default btn-sm btn-danger" ng-click="deleteRecord($index)">Delete</button>
      </td>
    </tr>
  </table>
</div> <!-- End of browser box -->
