<!DOCTYPE html>
<html ng-app="asterface">
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.collapsible.js"></script>
    <script type="text/javascript" src="/js/lib/asterix-sdk-stable.js"></script>
    <script type="text/javascript" src="/js/lib/angular-1.2.16.js"></script>
    <script type="text/javascript" src="/js/lib/angular-ui.js"></script>
    <script type="text/javascript" src="/js/lib/ui-bootstrap-tpls-0.12.0.js"></script>
    <script type="text/javascript" src="/js/lib/angular-route.js"></script>
    <script type="text/javascript" src="/js/lib/angular-sanitize.js"></script>

    <script type="text/javascript" src="/js/lib/sprintf.js"></script>
    <script type="text/javascript" src="/js/asterix.js"></script>
    <script type="text/javascript" src="/js/directives.js"></script>
    <script type="text/javascript" src="/js/base.js"></script>
    <script type="text/javascript" src="/js/browser.js"></script>
    <script type="text/javascript" src="/js/newDataset.js"></script>
    <script type="text/javascript" src="/js/newDatatype.js"></script>
    <script type="text/javascript" src="/js/newDataverse.js"></script>
    <script type="text/javascript" src="/js/query.js"></script>
    <script type="text/javascript" src="/js/viewRow.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/angular-ui.css">
    <link rel="stylesheet" href="/css/manager.css">
    <title>Asterix Manager</title>
  </head>
  <body ng-controller="BaseController">
    <div class="header">
      <h1>Asterix Manager</h1>
    </div>

    <div class="browser-bar">
      <select name="dataverse-selector" ng-model="base.currentDataverse">
        <option ng-repeat="dv in base.dataverses" ng-value="dv.DataverseName">{{dv.DataverseName}}
        </option>
        <option value="#newdataverse">New Dataverse</option>
      </select>

      <select name="dataset-selector" ng-model="base.currentDataset" ng-if="base.currentDataverse">
        <option ng-repeat="ds in base.datasets" ng-value="ds.DatasetName" ng-bind="ds.DatasetName">{{ds.DatasetName}}</option>
      </select>

      <span ng-show="base.currentDataverse">
        <button ng-click="createDataset()" class="btn btn-default btn-sm">New Dataset</button>
        <button ng-click="createDatatype()" class="btn btn-default btn-sm">New Datatype</button>
        <button ng-click="query()" class="btn btn-default btn-sm">Query</button>
      </span>
    </div>

    <div id="content-box" ng-view>
    </div>


  </body>
</html>
