<script type="text/ng-template" id="form-element">
  <div ng-switch on="field.type">
    <div ng-switch-when="int8">
      <input ng-model="field.value" type="text" fieldtype="int8">
    </div>

    <div ng-switch-when="int16">
      <input ng-model="field.value" type="text" fieldtype="int16">
    </div>

    <div ng-switch-when="int32">
      <input ng-model="field.value" type="text" fieldtype="int32">
    </div>

    <div ng-switch-when="int64">
      <input ng-model="field.value" type="text" fieldtype="int64">
    </div>

    <div ng-switch-when="boolean">
      <select ng-model="field.value">
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>

    <div ng-switch-when="float">
      <input ng-model="field.value"  type="text" fieldtype="float">
    </div>

    <div ng-switch-when="double">
      <input ng-model="field.value"  type="text" fieldtype="double">
    </div>

    <div ng-switch-when="string">
      <input ng-model="field.value"  type="text" fieldtype="string">
    </div>

    <div ng-switch-when="point">
      <af-input-point model="field.value">
    </div>

    <div ng-switch-when="line">
      <af-input-line model="field.value">
    </div>
    
    <div ng-switch-when="rectangle">
      <af-input-rectangle model="field.value">
    </div>

    <div ng-switch-when="circle">
      <af-input-circle model="field.value">
    </div>

    <div ng-switch-when="polygon">
      <af-input-polygon model="field.value">
    </div>

    <div ng-switch-when="date">
      <input ng-model="field.value" type="text" placeholder="Date (e.g. 2014-12-31)">
    </div>

    <div ng-switch-when="time">
      <input ng-model="field.value" type="text" placeholder="HH:mm:ss (e.g. 12:30:00)">
    </div>

    <div ng-switch-when="datetime">
      <af-input-datetime model="field.value">
    </div>

    <div ng-switch-when="record">
      <af-input-record model="field.value">
    </div>

    <div ng-switch-when="orderedList">
      <af-input-ordered-list model="field.value">
    </div>

    <div ng-switch-when="unorderedList">
      <af-input-unordered-list model="field.value">
    </div>
    <div ng-switch-default>
      Unknown field type <b ng-bind="type"></b>
    </div>
  </div>
</script>
<div ng-include="'form-element'"></div>
