<table>
  <tr ng-repeat="field in InputOrderedListController.value">
    <td><b ng-bind="field.type"></b></td>
    <td><af-input field="field"></td>
  </tr>
</table>

<div>
  <form ng-submit="InputOrderedListController.addValue()">
    <fieldset>
      <legend>New Field</legend>
      <label>Field Type:</label>
      <select ng-model="InputOrderedListController.newFieldType">
        <option value="string">String</option>
        <option value="boolean">Boolean</option>
        <option value="int8">Int8</option>
        <option value="int16">Int16</option>
        <option value="int32">Int32</option>
        <option value="int64">Int64</option>
        <option value="float">Float</option>
        <option value="double">Double</option>
        <option value="point">Point</option>
        <option value="line">Line</option>
        <option value="circle">Circle</option>
        <option value="polygon">Polygon</option>
        <option value="date">Date</option>
        <option value="time">Time</option>
        <option value="datetime">Date/Time</option>
        <option value="interval">Interval</option>
        <option value="record">Record</option>
        <option value="unorderedList">Unordered List</option>
        <option value="orderedList">Ordered List</option>
        <option ng-repeat="(customType, _) in InputController.getTypes()" ng-bind="customType" ng-value="customType"></option>
      </select>
      <button type="submit" value="Add Field" ng-disabled="!InputOrderedListController.newFieldType">Add Extra Field</button>
    </fieldset>
  </form>
</div>
